Package: cm90.crossoveripctest
Name: CrossOverIPC_Test
Depends: mobilesubstrate, com.opa334.libsandy, ldid
Version: 1.1
Architecture: iphoneos-arm
Description: A cross-process communication tool for sending and receiving messages on iOS 15 & 16
Maintainer: @CrazyMind90
Author: @CrazyMind90
Section: Tweaks
